name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: build launcher
      run: cargo build --target=i686-pc-windows-msvc --verbose

    - name: build dll
      run: cargo build --lib --target=i686-pc-windows-msvc --verbose
